.tombol{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
  width: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.tombol:hover {background-color: #3e8e41}

.tombol:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tombolPanel{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
  width: 123px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.tombolPanel:hover {background-color: rgb(39, 39, 39)}

.tombolPanel:active {
  background-color: rgb(39, 39, 39);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.panel{
  width: 260px;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #3e8e41;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
}